body {
    margin: 0 auto;
    width: 80%;
    align-content: center;
    background-color: blanchedalmond;
    color: #363333;
    font-size: 16px;
}

code {
  color: white;
  background-color: #4b4949;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

p {
    font-style: italic;
    font-size: 1.1em;
}